.post-creator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: league, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.post-creator {
  width: 35%;
  border: 1px solid #ccc;
  margin: 4% 30%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: radial-gradient(
    343px at 46.3% 47.5%,
    rgb(242, 242, 242) 0%,
    rgb(241, 241, 241) 72.9%
  );
  border-radius: 10px;
}

.post-creator h2 {
  color: black;
  background-color: #dc2f2f;
  padding: 30px 30px;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-size: 50px;
}

.post-creator form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-field {
  margin: 10px 0;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
}

.img-upload-field {
  margin: 10px 0;
  padding: 15px;
}

.post-creator button {
  padding: 15px 20px;
  background-color: #dc2f2f;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bolder;
  font-size: 30px;
  width: 35%;
}

.post-creator button[type="submit"]:hover {
  background-color: #c12828;
}

@media only screen and (max-width: 786px) {
  .post-creator-wrapper .post-creator {
    width: 55%;
    margin: 0;
    margin-left: 30%;
    border: none;
  }

  .post-creator h2 {
    font-size: 20px;
  }
}
