.article-wrapper {
  font-family: "League Spartan", sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.article-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.author-details {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-nickname {
  font-weight: bolder;
  font-size: x-large;
  color: #555;
}

.article-graphic {
  width: 1400px;
  max-height: 800px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-body {
  margin-bottom: 20px;
  width: 1400px;
  max-height: 800px;
  line-height: 1.5;
  color: #666;
}

.article-remove-btn {
  background-color: #dc2f2f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.article-remove-btn:hover {
  background-color: #c12727;
}

.discussions {
  margin-top: 20px;
}

.discussion-entry {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 15px;
}

.discussant {
  font-weight: semi-bold;
  color: #555;
  margin-bottom: 10px;
}

.discussion-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.discussion-actions {
  display: flex;
  gap: 10px;
}

.action-edit,
.action-trash {
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

.action-edit {
  background-color: #333;
  color: #fff;
}

.action-trash {
  background-color: #dc2f2f;
  color: #fff;
}

.action-edit:hover {
  background-color: #222;
}

.action-trash:hover {
  background-color: #c12727;
}

.comment-form {
  margin-top: 20px;
}

.comment-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.comment-submit {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.comment-submit:hover {
  background-color: #222;
}
