.UserWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: league, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 50%;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.UserHeaderArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.UserHeaderArea img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.UserHeaderArea h2 {
  color: black;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  width: 100%;
  background-color: #dc2f2f;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.UserHeaderArea p {
  margin: 5px 0;
  font-size: 16px;
}

.ChangePassText {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
  color: #333;
}

.UserHeaderArea input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;
}

.UserHeaderArea button {
  padding: 10px 20px;
  background-color: #dc2f2f;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
}

.UserHeaderArea button:hover {
  background-color: #c12828;
}
